*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Node
node_modules/
package-lock.json

# Firebase
google-services.json

# Android
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
*.log
